@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro.eot');
  src: url('../fonts/MyriadPro/MyriadPro.eot#iefix') format('embedded-opentype'), url('../fonts/MyriadPro/MyriadPro.woff') format('woff'), url('../fonts/MyriadPro/MyriadPro.ttf') format('truetype'), url('../fonts/MyriadPro/MyriadPro.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.header {
  background: #27273e;
  margin-bottom: 44px;
}
.menu__link-current.menu__link::before {
  content: "";
  background: url(../img/icons/feed_icon.png) center center no-repeat;
}
.reviews {
  margin-bottom: 45px;
  font-family: 'GothamPro', "Arial Narrow", sans-serif;
}
.reviews__title {
  margin-bottom: 36px;
  color: #221f1f;
  font-size: 49px;
  font-weight: bold;
}
.reviews__wrap {
  display: -webkit-box;
  display: flex;
  margin-bottom: 24px;
}
.reviews__img {
  -webkit-box-flex: 0;
  flex: 0 1 160px;
  width: 160px;
  height: 160px;
  background: url(../img/reviews/logo-review-grey.jpg) no-repeat;
  border-radius: 50%;
}
.reviews__img img {
  border-radius: 50%;
}
.reviews__content {
  -webkit-box-flex: 1;
  flex: 1;
  margin-left: 20px;
  line-height: 21px;
  font-weight: 300;
}
.reviews__content-date {
  color: #656464;
  font-size: 14px;
  margin-bottom: 3px;
}
.reviews__content-title {
  font-size: 18px;
  margin-bottom: 9px;
  font-weight: bold;
}
.reviews__content-text {
  font-size: 18px;
  line-height: 30px;
}
.smile {
  font-family: 'MyriadPro', "Arial Narrow", sans-serif;
}
.border {
  margin-bottom: 23px;
}
.pagination {
  margin-bottom: 61px;
}
.pagination__wrap {
  margin-left: -104px;
}
.pagination__page,
.pagination__link {
  font-family: 'GothamPro', "Arial Narrow", sans-serif;
}
.cta {
  background: #27273e;
  margin-bottom: 55px;
}
.cta__wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background: url(../img/reviews/sales50.png) no-repeat;
  margin-left: 13px;
}
.cta__text {
  -webkit-box-flex: 0;
  flex: 0 1 625px;
  height: 174px;
  padding: 40px 0 49px;
  box-sizing: border-box;
  font-family: 'GothamPro', "Arial Narrow", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  margin-left: -21px;
}
.cta__sales {
  font-weight: bold;
  color: #ec1e79;
}
.form {
  margin-bottom: 37px;
}
.form__wrap {
  max-width: 700px;
  margin: 0 auto;
  background: #f5f5f5;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 51px 70px;
  box-sizing: border-box;
  font-family: 'GothamPro', "Arial Narrow", sans-serif;
  font-weight: 300;
  color: #221f1f;
  font-size: 14px;
}
.form__title {
  color: #221f1f;
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 20px;
}
.form__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 11px;
}
.form__row:nth-child(2) {
  margin-bottom: 9px;
}
.form__row-full {
  -webkit-box-flex: 1;
  flex: 1;
}
.form__row-half {
  -webkit-box-flex: 0;
  flex: 0 1 269px;
}
.form__label {
  line-height: 30px;
}
.form__name,
.form__social {
  width: 100%;
  padding: 14px 10px;
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  font-weight: 300;
  background: #fff;
}
.form__name:focus,
.form__social:focus {
  outline: 1px solid #ec1e79;
}
.form__name::-webkit-input-placeholder,
.form__social::-webkit-input-placeholder {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 300;
}
.form__name::-moz-placeholder,
.form__social::-moz-placeholder {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 300;
}
.form__name:-ms-input-placeholder,
.form__social:-ms-input-placeholder {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 300;
}
.form__name::-ms-input-placeholder,
.form__social::-ms-input-placeholder {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 300;
}
.form__name::placeholder,
.form__social::placeholder {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 300;
}
.form__textarea {
  width: 100%;
  color: #221f1f;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #ec1e79;
  padding: 10px;
  box-sizing: border-box;
  height: 90px;
  border-radius: 2px;
  resize: none;
}
.form__textarea:active,
.form__textarea:focus {
  outline: none;
}
.form__button {
  background: #27273e;
  color: #ffffff;
  font-family: 'GothamPro', "Arial Narrow", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  border: none;
  outline: none;
  padding: 16px 20px;
  border-radius: 2px;
  margin-top: 9px;
  cursor: pointer;
}
.form__button:hover {
  background: #ec1e79;
}
.form__button:active,
.form__button:focus {
  outline: none;
}
.form__radio {
  display: none;
}
.form__radio-wrap {
  display: -webkit-box;
  display: flex;
}
.form__radio-answer {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 15px;
}
.form__radio-custom {
  width: 20px;
  height: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}
.form__radio-custom-checked {
  border: 1px solid #ec1e79;
}
.form__radio:checked + .form__radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ec1e79;
  border-radius: 50%;
  margin: auto;
}
