@import "../vars.less";
.footer {
  background: @background;
  position: relative;
  &__wrap {
    display: flex;
    align-items: center;
    min-height: 77px;
  }
  &__copyright {
    flex: 0 1 270px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    &-link {
      font-weight: bold;
      text-decoration: underline;
      color: inherit;
    }
    &-author {
      font-weight: bold;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    flex: 1;
    &-link {
      margin-left: -99px;
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    flex: 0 1 172px;
    &-title {
      text-align: right;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 9px;
    }
    &-icons {
      display: flex;
      ;
    }
    &-icon {
      position: relative;
      margin-right: 10px;
      &:hover &-vk, &:hover &-fb, &:hover &-google, &:hover &-twitter, &:hover &-mail {
        opacity: 0;
      }
      &:hover &-vk-hover, &:hover &-fb-hover, &:hover &-google-hover, &:hover &-twitter-hover, &:hover &-mail-hover {
        opacity: 1;
      }
      &-vk, &-fb, &-google, &-twitter, &-mail {
        position: absolute;
        height: 20px;
        width: 20px;
        display: block;
        transition: .5s;
        opacity: 1;
        font-size: 0;
      }
      &-vk{
        background: url(../img/icons/social-sprite.png) 0 0 no-repeat;
      }
      &-fb{
        background: url(../img/icons/social-sprite.png) -100px 0 no-repeat;
      }
      &-google{
        background: url(../img/icons/social-sprite.png) -200px 0 no-repeat;
      }
      &-twitter{
        background: url(../img/icons/social-sprite.png) -300px 0 no-repeat;
      }
      &-mail{
        background: url(../img/icons/social-sprite.png) -400px 0 no-repeat;
      }
      &-vk-hover, &-fb-hover, &-google-hover, &-twitter-hover, &-mail-hover {
        position: absolute;
        height: 20px;
        width: 20px;
        display: block;
        transition: .5s;
        opacity: 0;
        font-size: 0;
      }
      &-vk-hover{
        background: url(../img/icons/social-sprite.png) 0 bottom no-repeat;
      }
      &-fb-hover{
        background: url(../img/icons/social-sprite.png) -100px bottom no-repeat;
      }
      &-google-hover{
        background: url(../img/icons/social-sprite.png) -200px bottom no-repeat;
      }
      &-twitter-hover{
        background: url(../img/icons/social-sprite.png) -300px bottom no-repeat;
      }
      &-mail-hover{
        background: url(../img/icons/social-sprite.png) -400px bottom no-repeat;
      }
    }
    &-link {
      padding: 10px;
      font-size: 0;
    }
  }
}